/* line 1, website/static/website/scss/home.scss */
.hero_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* line 6, website/static/website/scss/home.scss */
0
.all-bg {
  width: 100px;
  height: 20px;
  background-color: black; }
  /* line 9, website/static/website/scss/home.scss */
  0
.all-bg .hero_text {
    background-color: aqua; }
