/* line 1, website/static/website/scss/home.scss */
.hero_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/*-----header-----*/
/* line 8, website/static/website/scss/home.scss */
header {
  width: 900px;
  margin: auto; }
  /* line 11, website/static/website/scss/home.scss */
  header nav {
    max-width: 743px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24.75px;
    height: 78.75px; }
    /* line 19, website/static/website/scss/home.scss */
    header nav img {
      height: 40px; }
    /* line 23, website/static/website/scss/home.scss */
    header nav ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 24.75px; }
      /* line 30, website/static/website/scss/home.scss */
      header nav ul li {
        display: flex;
        align-items: center; }
        /* line 33, website/static/website/scss/home.scss */
        header nav ul li a {
          text-decoration: none;
          color: var(--Neutral-Title-Color, #1f2937);
          font-family: Inter;
          font-size: 10.125px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          /* 15.188px */ }
    /* line 45, website/static/website/scss/home.scss */
    header nav > div {
      display: flex;
      align-items: center;
      gap: 24.75px; }
      /* line 50, website/static/website/scss/home.scss */
      header nav > div img {
        cursor: pointer;
        width: 13.5px;
        height: 13.5px; }
      /* line 56, website/static/website/scss/home.scss */
      header nav > div div {
        border-radius: 56.25px;
        background: var(--Warning-Base, #eab308);
        border-radius: 20px;
        color: #000;
        font-weight: 600;
        cursor: pointer; }
